set rnu
let mapleader = " "

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'

nnoremap j gj
nnoremap k gk
map K {
map J }
noremap H ^
noremap L $

noremap ;w :w<CR>
noremap ;q :q<CR>
noremap ;Q :q!<CR>
noremap ' `
noremap <leader> w <C-w>

" ',' repeats last macro
nnoremap , @@

" cib, dib, etc. don't do anything, rebind to ciB, ...
nnoremap cib ciB
nnoremap dib diB
nnoremap vib viB
nnoremap yib yiB
nnoremap zfib zfiB

nnoremap <Tab> >>
nnoremap <S-Tab> <<
vnoremap <Tab> >
vnoremap <S-Tab> <

imap <C-k> <Up>
imap <C-j> <Down>
imap <C-h> <Left>
imap <C-l> <Right>

nnoremap <M-k> :m -2<cr>
nnoremap <M-j> :m +1<cr>
inoremap <M-k> <right><ESC>:m -2<cr>i
inoremap <M-j> <right><ESC>:m +1<cr>i
