priority 100

snippet list "bullet list"
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet \begin "begin"
\begin{$1}
	$0
\end{$1}
endsnippet

snippet cmd "newcommand"
\newcommand{$1}{$2}
endsnippet

snippet doc "begin document"
\begin{document}
	$0
\end{document}
endsnippet

snippet enum "begin enumerate"
\begin{enumerate}
	$0
\end{enumerate}
endsnippet
